<web-app>
    <display-name>OwlreadyDoneWebapp</display-name>

    <context-param>
        <param-name>upload-dir</param-name> <!-- Where should files be stored? (Path relative to root.) -->
        <param-value>uploads</param-value>
    </context-param>

    <context-param>
        <param-name>stored-upload-limit</param-name> <!-- How many files can, at most, be in the upload directory? -->
        <param-value>20</param-value>
    </context-param>

    <context-param>
        <param-name>stored-query-limit</param-name> <!-- How many queries, per ontology, can be stored in history? -->
        <param-value>10</param-value>
    </context-param>

    <context-param>
        <param-name>result-dir</param-name> <!-- Where should query result files be stored? (Path relative to root.) -->
        <param-value>results</param-value>
    </context-param>

    <context-param>
        <param-name>query-history-dir</param-name> <!-- Where should query history files be stored? (Path relative to root.) -->
        <param-value>history</param-value>
    </context-param>

    <listener>
        <listener-class>ServletContextListener</listener-class>
    </listener>
</web-app>